:root {
    --navbar-color: #9D103A;
    --navbar-sub-color: #FFC7DC;
    --footer-color: #6F0128;
    --title-color: #F1D03B;
    --background-color: #ECECF0;
    --title-font: ;
    --text-font: ;
}