/* Generals parameters styling */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:root {
  --navbar-color: #003f88;
  --navbar-sub-color: #84c0f8;
  --footer-color: #00296b;
  --title-color: #f1d03b;
  --background-color: #ececf0;
}

body {
  background-color: var(--background-color);
}

main {
  margin-top: 50px;
}

.unification {
  margin-left: 6%;
  margin-right: 6%;
}

.topic-title {
  padding-top: 5%;
  margin-bottom: 2%;
  border-bottom: 3px solid var(--footer-color);
  font-family: "Inter", Times, serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.main-title {
  text-align: left;
}
/* ========== Header Menu - Burger Menu ========== */

.container {
  padding-top: 60px;
}

.logoHeader {
  color: var(--background-color);
  text-decoration-line: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.logoHeader {
  padding: 3px 10px;
  border-radius: 20px;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(var(--navbar-color), var(--footer-color));
  transition: 0.3s;
  z-index: 2;
  top: 0;
}

.headerLogo {
  display: block;
}

.headerLogo a {
  display: block;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBurger {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  transition: 0.5s;
}

.menuBurger li {
  list-style: none;
}

.menuBurger li a {
  color: var(--background-color);
  text-decoration: none;
  display: block;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 10px;
  transition: 0.3s;
}

.menuBurger li a:hover {
  box-shadow: 500px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -5px 0 rgba(255, 255, 255, 0.5) inset;
  padding: 15px 25px 25px 25px;
}

.burger {
  position: relative;
  height: 4px;
  width: 30px;
  background: #ececf0;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
  transition: 0.3s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #ececf0;
  border-radius: 10px;
  transition: 0.3s;
}

.burger::before {
  top: 10px;
  width: 30px;
}

.burger::after {
  top: -10px;
  width: 30px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
}

.burger,
.toggle-menu {
  display: none;
  margin-right: 10px;
}

.toggle-resources li {
  display: none;
}
.toggle-resources li {
  box-shadow: 0 -1.5px 0 var(--navbar-color) inset;
}

.toggle-resources li a {
  color: var(--navbar-color);
}

.toggle-resources-check {
  cursor: pointer;
  position: absolute;
  display: flex;
  width: 200px;
  height: 50px;
  opacity: 0;
}
/* ========== FOOTER BAR ========== */
.footer {
  background: linear-gradient(var(--navbar-color), var(--footer-color));
  color: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  margin-top: 3%;
  bottom: -10px;
  right: 0;
}
.socials ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding-top: 20px;
}
.socials ul li a {
  color: var(--background-color);
  padding: 5px;
  font-size: 2rem;
}
.othersFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 15px 0 15px;
  font-size: 0.8rem;
}
.othersFooter p a {
  text-decoration: none;
  color: var(--background-color);
}
/* ========== FOOTER BAR ========== */

.navigation input:checked ~ .burger {
  background: transparent;
}

.navigation input:checked ~ .burger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .burger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

@media screen and (max-width: 700px) {
  .burger,
  .toggle-menu {
    display: block;
  }
  .toggle-resources {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 100px;
    background: var(--navbar-sub-color);
    z-index: -1;
    top: 150px;
    opacity: 0;
    right: 0px;
    transition: 0.2s ease-in-out;
  }
  .menuBurger {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: linear-gradient(var(--footer-color), var(--navbar-color));
    width: 300px;
    max-width: 80vw;
    height: 100%;
    padding-top: 50px;
  }
  .menuBurger li {
    width: 100%;
  }
  .menuBurger li a,
  .menuBurger li a:hover {
    font-weight: bold;
    padding: 20px;
    box-shadow: 0 1.5px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .navigation input:checked ~ .menuBurger {
    right: 0;
    box-shadow: -10px 0 40px rgba(0, 0, 0, 0.2);
  }
  .menuBurger input:checked ~ .toggle-resources {
    display: block;
    top: 200px;
    transition: 0.3s;
    opacity: 100;
    transition: 0.2s;
    z-index: 1;
  }
  .menuBurger input:checked ~ .toggle-resources li {
    display: block;
    opacity: 100;
  }
  .resourcesTab input:checked ~ .faqDown {
    padding-top: 100px;
  }
  .faqDown {
    display: relative;
    top: 100px;
  }
}
@media screen and (min-width: 700px) {
  .toggle-resources-check {
    opacity: 0;
    width: 100px;
  }

  .toggle-resources {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 100px;
    background: var(--navbar-sub-color);
    z-index: -1;
    top: 50px;
    opacity: 0;
    right: 0px;
    transition: 0.2s ease-in-out;
  }

  .menuBurger input:checked ~ .toggle-resources {
    display: block;
    top: 50px;
    transition: 0.3s;
    opacity: 100;
    transition: 0.2s;
    z-index: 1;
  }
  .menuBurger input:checked ~ .toggle-resources li {
    display: block;
    opacity: 100;
  }
  .toggle-resources-check:hover ~ .resourcesTab {
    box-shadow: 500px 0 0 rgba(255, 255, 255, 0.1) inset,
      0 -5px 0 rgba(255, 255, 255, 0.5) inset;
    padding: 15px 25px 25px 25px;
  }
}
/* ========== Header Menu - Burger Menu ========== */

/*=========Main page & Game page==========================*/
/*Image carousel*/
.carousel {
  margin-top: 6%;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 15%;
  height: 15%;
  position: absolute;
  top: 47%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1rem;
  height: 1rem;
}

.carousel-indicators {
  z-index: 1;
}

/*Topic news*/
.topics-container {
  margin: 0 6%;
}

.topic-box {
  /* display: flex; */
  gap: 5%;
  border: 20%;
  background-color: white;
  box-shadow: inset 3px 4px 10px #000;
  border-radius: 4px;
}

.article-images {
  float: left;
  width: 45%;
  height: auto;
  align-self: center;
  justify-self: center;
  margin: 2rem 1.5rem 0.5rem 2rem;
}

.text-box {
  align-self: center;
  padding: 2rem 2rem 3.5rem;
}

.report-title {
  margin-bottom: 3%;
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--footer-color);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.article-content {
  width: 100%;
  text-align: justify;
  padding-right: 0.5rem;
  font-family: "Times New Roman", Times, serif;
}

.article-content-hide {
  display: none;
}

.read-more {
  display: block;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
  font-size: 1rem;
  float: right;
}

.game {
  width: auto;
  margin: 0 6%;
}

iframe {
  border: 0px solid #eee;
  overflow: hidden;
  width: 350px;
  height: 500px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 320px) {
  .d-md-block {
    display: block !important;
  }

  h5 {
    width: 100%;
    color: rgba(255, 255, 255);
    text-shadow: 7px 8px 9px #000;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .carousel-caption p {
    display: none;
  }
}

@media screen and (min-width: 450px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    height: 10%;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }

  h5 {
    font-size: 8vw;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .carousel {
    display: block;
    margin: auto;
    width: 750px;
  }

  h5 {
    width: 34rem;
    font-size: 4rem;
    margin-left: -5rem;
  }

  .carousel-caption p {
    display: block;
    width: 30rem;
    color: rgba(255, 255, 255);
    text-shadow: 5px 6px 7px #000;
    font-weight: 650;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-left: 10rem;
  }

  .topic-title {
    padding-top: 2%;
  }

  .topics-container {
    margin: 0 6vw;
  }

  .article-images {
    width: 320px;
    height: auto;
  }

  .article-content-hide {
    width: 100%;
    display: initial;
    text-align: justify;
    padding-right: 0.5rem;
    font-family: "Times New Roman", Times, serif;
  }

  .read-more {
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-right: 2rem;
  }

  iframe {
    width: 725px;
    height: 550px;
  }
}

@media screen and (min-width: 1000px) {
  .carousel {
    display: block;
    margin: auto;
    width: 70%;
  }

  .topic-box {
    gap: 2%;
  }
}

/* =================Topic page========================= */

.randomTop {
  height: 200px;
  width: 100%;
  background-size: cover;
  margin: 16px 0;
}

.childRandom > * {
  width: 50%;
}

.childRandom {
  background: linear-gradient(90deg, black, transparent 100%);
  height: 100%;
  color: white;
}

.tagContainer {
  display: flex;
}

.containerListArticles {
  display: flex;
  flex-direction: column;
  width: auto;
}

.cardArticle {
  display: flex;
  border: #000, 4px, solid;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.cardImage {
  width: 35%;
  height: fit-content;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cardArticle:nth-child(even) .cardImage {
  margin-left: 0;
  margin-right: 15px;
}

.divCardText {
  text-align: justify;
  padding: 16px;
  width: 400px;
}

.cardArticle:nth-child(even) {
  flex-direction: row-reverse;
}

.tagContainer {
  margin: 16px 0;
  height: 16px;
}

.tagContainer h4 {
  margin: 0 8px;
  color: var(--navbar-color);
}

@media screen and (min-width: 900px) {
  .containerListArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    font-size: 1.2rem;
  }
}

/*=========Article==========================*/

.title-article {
  text-align: center;
  margin: 5rem 2rem 2rem;
  border-bottom: 3px solid var(--footer-color);
  font-weight: 700;
  font-size: 2rem;
}

.article-img {
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 0.5rem;
}

.first-letter {
  color: var(--footer-color);
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.article-text {
  text-align: justify;
  line-height: 1.5rem;
  margin: 1rem 2.5rem;
}

@media screen and (min-width: 600px) {
  .article-img {
    float: left;
    margin: 0 1rem 1rem 6rem;
  }

  .article-text {
    margin: 1rem 6rem;
  }
}

@media screen and (min-width: 900px) {
  .article-img {
    width: 35%;
  }
}
/*=====================FAQ page=======================================*/
/* Style the buttons that are used to open and close the faq-page body */

/* main{
  padding-top:60px;
  padding-bottom: 60px;
} */

.faq-heading {
  text-align: center;
}
.faq-img {
  display: flex;
  width: cover;
  height: 180px;
  justify-content: center;
  object-fit: cover;
  padding: 5px;
}
/*body{
  font-family: 'Work Sans', sans-serif;
} */
.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 20px 5px;
  width: 65%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeus,
.faq-page:hover {
  background-color: none;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: none;
  display: none;
  overflow: hidden;
}

.faq-answer {
  padding: 0 5px;
  margin: 2px 20px;
  text-align: justify;
  background-color: none;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.activeus:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

@media screen and (min-width: 1024px) {
  .faq-img {
    display: flex;
    width: cover;
    height: 350px;
    justify-content: center;
    object-fit: cover;
    padding: 5px;
  }

  .faq-answer {
    padding: 0 5px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    background-color: none;
    display: none;
    overflow: hidden;
  }
}

/* =================Contact page================================== */
#contact {
  padding-top: 10px;
}

#name {
  margin-bottom: 10px;
  margin-left: calc(44vw - (300px / 2));
  width: 300px;
  height: 25px;
  border: 2px solid var(--navbar-color);
  border-radius: 5px;
}

#email {
  margin-bottom: 10px;
  margin-left: calc(44vw - (300px / 2));
  width: 300px;
  height: 25px;
  border: 2px solid var(--navbar-color);
  border-radius: 5px;
}

#message {
  margin-bottom: 10px;
  margin-left: calc(44vw - (300px / 2));
  width: 300px;
  height: 80px;
  border: 2px solid var(--navbar-color);
  border-radius: 5px;
}

#submitbutton {
  margin-bottom: 10px;
  margin-left: calc(44vw - (100px / 2));
  width: 100px;
  height: 30px;
  border: 2px solid rgb(125, 162, 237);
  background-color: var(--navbar-sub-color);
  border-radius: 5px;
}

.otherresources {
  margin-top: 1rem;
  padding: 10px;
  text-align: center;
  color: var(--navbar-color);
  font-size: 2rem;
}

.listcontact {
  text-align: center;
  list-style: none;
  background-color: var(--navbar-sub-color);
  border-radius: 5px;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.listcontact li {
  padding: 0.5rem 0;
}

form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .listcontact {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  #name {
    margin-bottom: 15px;
    margin-left: calc(44vw - (400px / 2));
    width: 400px;
    height: 35px;
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
  }

  #email {
    margin-bottom: 15px;
    margin-left: calc(44vw - (400px / 2));
    width: 400px;
    height: 35px;
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
  }

  #message {
    margin-bottom: 15px;
    margin-left: calc(44vw - (400px / 2));
    width: 400px;
    height: 100px;
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
  }

  #submitbutton {
    margin-bottom: 15px;
    margin-left: calc(44vw - (140px / 2));
    width: 140px;
    height: 40px;
    border: 2px solid rgb(125, 162, 237);
    background-color: var(--navbar-sub-color);
    border-radius: 5px;
  }
}
